In [7]:
#data structure
#list:is mutable and indexed,heterogenous(diff types of data),duplicated allowed
#represented by[] and list( )
#list is ordered datastructure
x=[]# empty list
x=list() #empty list
y=[1,2,3]#direct initialization

In [6]:
z=[]
z.append('apple')
z.append('banana')
z.append('orange')
print(z)

['apple', 'banana', 'orange']

In [8]:
x=[1,2,3]
y=[4,5,6]
z=x+y
print(x,y,z)

[1, 2, 3] [4, 5, 6] [1, 2, 3, 4, 5, 6]

In [9]:
#list of duplication
a=[1]*10
print(a)
b=[1,2]*5
c=a*2
print(b)
print(c)

[1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
[1, 2, 1, 2, 1, 2, 1, 2, 1, 2]
[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]

In [10]:
print(a)
#displaying single item at a time using loop
for item in a:
    print(item)
#single element using index
print(a[0])
print(a[3],a[5])

[1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
1
1
1
1
1
1
1
1
1
1
1
1 1

In [ ]:
students=["bhargav","sameer","srikanth","yashwanth","vamsi","ram","ajay","balaji","abhi","yashwanth","ruhi","varsha","sumitra","lahari","jyoshna","meghana","anjali","sirisha","sahithi","geetha"]

In [1]:
books=[]
books.append("the way of king")
print(books)
books.append("the final empire")
books.append("steelheart")
books.append("ligeon")
print(books)

['the way of king']
['the way of king', 'the final empire', 'steelheart', 'ligeon']

In [2]:
books.append("harry potter","jungle book")

TypeError: list.append() takes exactly one argument (2 given)

In [6]:
colors=['red','green','blue']
colors.extend(['yellow','black'])
print(colors)

['red', 'green', 'blue', 'yellow', 'black']

In [7]:
colors2=["purple","pink","yellow"]
colors.extend(colors2)
print(colors)

['red', 'green', 'blue', 'yellow', 'black', 'purple', 'pink', 'yellow']

In [1]:
movies=[]
for i in range(5):
    value=input("enter movie names")
    movies.append(value)
print(movies)

enter movie namespushpa
enter movie nameskalki
enter movie namesit
enter movie namesganga
enter movie nameskanchana
['pushpa', 'kalki', 'it', 'ganga', 'kanchana']

In [5]:
x=[1,5,10]
x.insert(1,2)#insert(index,value)
print(x)

[1, 2, 5, 10]

In [6]:
x=[1,5,10]
x.insert(1,2)#insert(index,value)
x.insert(2,3)
x.insert(4,9)
print(x)

[1, 2, 3, 5, 9, 10]

In [ ]:
#adding elements:
-->append()-add one element to the end of the list
-->extend()-append multiple items in a list
-->insert()-add one element to a specific position
#removing elements
-->remove()-remove the first occurance of a value
-->pop()-remove and return an element from an index
-->clear()-remove all the elements from the list
#utility methods
-->count()
-->index()
-->sort()
-->reverse()
-->copy()

In [3]:
books=['maths book','english book','science book','GK book','telugu book','biology book','physics book','do epic shit','wind the truth']
print("size of book list",len(books))

size of book list 9

In [4]:
books.remove("GK book")
print(books)

['maths book', 'english book', 'science book', 'telugu book', 'biology book', 'physics book', 'do epic shit', 'wind the truth']

In [5]:
if "english book" in books:
    books.remove("english book")
print(books)

['maths book', 'science book', 'telugu book', 'biology book', 'physics book', 'do epic shit', 'wind the truth']

In [6]:
print("size of book",len(books))

size of book 7

In [7]:
#pop() without any index will remove the last element
books.pop(3)

'biology book'

In [8]:
books.pop()

'wind the truth'

In [10]:
books.clear()
print(books)

[]

In [12]:
languages=['c','python','c++','java','kotlin','dart','Go','c#','html','javascript','rust','mojo','assembly','scala']
print("size of languages",len(languages))
print(languages)
numbers=[12,56,78,34,67,89,45,34,23,45,67,23,47,67]
data=[1,'apple',2,'banana',3,'orange']

size of languages 14
['c', 'python', 'c++', 'java', 'kotlin', 'dart', 'Go', 'c#', 'html', 'javascript', 'rust', 'mojo', 'assembly', 'scala']

In [13]:
numbers.count(34)

2

In [14]:
print(numbers.count(1))
print(numbers.count(12))
print(numbers.count(23))
print(numbers.count(67))

0
1
1
2

In [17]:
print(languages.index("c"))
print(languages.index("c++"))
print(languages.index("c#"))      
# print(languages.index("lisp"))

0
2
7

In [21]:
print("original",languages)
languages.sort()
print("sorted",languages)
languages.sort(reverse=True)
print("sorted in reverse",languages)

original ['scala', 'rust', 'python', 'mojo', 'kotlin', 'javascript', 'java', 'html', 'dart', 'c++', 'c#', 'c', 'assembly', 'Go']
sorted ['Go', 'assembly', 'c', 'c#', 'c++', 'dart', 'html', 'java', 'javascript', 'kotlin', 'mojo', 'python', 'rust', 'scala']
sorted in reverse ['scala', 'rust', 'python', 'mojo', 'kotlin', 'javascript', 'java', 'html', 'dart', 'c++', 'c#', 'c', 'assembly', 'Go']

In [22]:
print("original",data)
data.reverse()
print("reversed",data)

original [1, 'apple', 2, 'banana', 3, 'orange']
reversed ['orange', 3, 'banana', 2, 'apple', 1]