In [7]:
#data structure
#list:is mutable and indexed(numerical position of an element with sequence number)
#heterogenous(diff types of data),duplicated allowed
#represented by[] and list( )
#list is ordered datastructure
x=[]# empty list
x=list() #empty list
y=[1,2,3]#direct initialization

In [6]:
z=[]
z.append('apple')
z.append('banana')
z.append('orange')
print(z)

['apple', 'banana', 'orange']

In [8]:
x=[1,2,3]
y=[4,5,6]
z=x+y
print(x,y,z)

[1, 2, 3] [4, 5, 6] [1, 2, 3, 4, 5, 6]

In [9]:
#list of duplication
a=[1]*10
print(a)
b=[1,2]*5
c=a*2
print(b)
print(c)

[1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
[1, 2, 1, 2, 1, 2, 1, 2, 1, 2]
[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]

In [10]:
print(a)
#displaying single item at a time using loop
for item in a:
    print(item)
#single element using index
print(a[0])
print(a[3],a[5])

[1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
1
1
1
1
1
1
1
1
1
1
1
1 1

In [ ]:
students=["bhargav","sameer","srikanth","yashwanth","vamsi","ram","ajay","balaji","abhi","yashwanth","ruhi","varsha","sumitra","lahari","jyoshna","meghana","anjali","sirisha","sahithi","geetha"]

In [1]:
books=[]
books.append("the way of king")
print(books)
books.append("the final empire")
books.append("steelheart")
books.append("ligeon")
print(books)

['the way of king']
['the way of king', 'the final empire', 'steelheart', 'ligeon']

In [2]:
books.append("harry potter","jungle book")

TypeError: list.append() takes exactly one argument (2 given)

In [6]:
colors=['red','green','blue']
colors.extend(['yellow','black'])
print(colors)

['red', 'green', 'blue', 'yellow', 'black']

In [7]:
colors2=["purple","pink","yellow"]
colors.extend(colors2)
print(colors)

['red', 'green', 'blue', 'yellow', 'black', 'purple', 'pink', 'yellow']

In [1]:
movies=[]
for i in range(5):
    value=input("enter movie names")
    movies.append(value)
print(movies)

enter movie namespushpa
enter movie nameskalki
enter movie namesit
enter movie namesganga
enter movie nameskanchana
['pushpa', 'kalki', 'it', 'ganga', 'kanchana']

In [5]:
x=[1,5,10]
x.insert(1,2)#insert(index,value)
print(x)

[1, 2, 5, 10]

In [6]:
x=[1,5,10]
x.insert(1,2)#insert(index,value)
x.insert(2,3)
x.insert(4,9)
print(x)

[1, 2, 3, 5, 9, 10]

In [ ]:
#adding elements:
-->append()-add one element to the end of the list
-->extend()-append multiple items in a list
-->insert()-add one element to a specific position
#removing elements
-->remove()-remove the first occurance of a value
-->pop()-remove and return an element from an index
-->clear()-remove all the elements from the list
#utility methods
-->count()
-->index()-assigning a number value
-->sort()
-->reverse()
-->copy()

In [3]:
books=['maths book','english book','science book','GK book','telugu book','biology book','physics book','do epic shit','wind the truth']
print("size of book list",len(books))

size of book list 9

In [4]:
books.remove("GK book")
print(books)

['maths book', 'english book', 'science book', 'telugu book', 'biology book', 'physics book', 'do epic shit', 'wind the truth']

In [5]:
if "english book" in books:
    books.remove("english book")
print(books)

['maths book', 'science book', 'telugu book', 'biology book', 'physics book', 'do epic shit', 'wind the truth']

In [6]:
print("size of book",len(books))

size of book 7

In [7]:
#pop() without any index will remove the last element
books.pop(3)

'biology book'

In [8]:
books.pop()

'wind the truth'

In [10]:
books.clear()
print(books)

[]

In [12]:
languages=['c','python','c++','java','kotlin','dart','Go','c#','html','javascript','rust','mojo','assembly','scala']
print("size of languages",len(languages))
print(languages)
numbers=[12,56,78,34,67,89,45,34,23,45,67,23,47,67]
data=[1,'apple',2,'banana',3,'orange']

size of languages 14
['c', 'python', 'c++', 'java', 'kotlin', 'dart', 'Go', 'c#', 'html', 'javascript', 'rust', 'mojo', 'assembly', 'scala']

In [13]:
numbers.count(34)

2

In [14]:
print(numbers.count(1))
print(numbers.count(12))
print(numbers.count(23))
print(numbers.count(67))

0
1
1
2

In [17]:
print(languages.index("c"))
print(languages.index("c++"))
print(languages.index("c#"))      
# print(languages.index("lisp"))

0
2
7

In [21]:
print("original",languages)
languages.sort()
print("sorted",languages)
languages.sort(reverse=True)
print("sorted in reverse",languages)

original ['scala', 'rust', 'python', 'mojo', 'kotlin', 'javascript', 'java', 'html', 'dart', 'c++', 'c#', 'c', 'assembly', 'Go']
sorted ['Go', 'assembly', 'c', 'c#', 'c++', 'dart', 'html', 'java', 'javascript', 'kotlin', 'mojo', 'python', 'rust', 'scala']
sorted in reverse ['scala', 'rust', 'python', 'mojo', 'kotlin', 'javascript', 'java', 'html', 'dart', 'c++', 'c#', 'c', 'assembly', 'Go']

In [22]:
print("original",data)
data.reverse()
print("reversed",data)

original [1, 'apple', 2, 'banana', 3, 'orange']
reversed ['orange', 3, 'banana', 2, 'apple', 1]

In [ ]:
fruits=['mango','banana','cherry','apple','orange','grapes','pear','liche','guava','chikoo','pineapple','watermelon']

nested list

In [11]:
x=[]
x2=[[]]

print(x)
print(x2)

[]
[[]]

In [12]:
x.append(1)
x.append(2)
x.append(3)
print(x)

[1, 2, 3]

In [13]:
x2.append(1)
x2.append([1,2,3])
x2.append([4,5,6])
print(x2)

[[], 1, [1, 2, 3], [4, 5, 6]]

In [14]:
items=[['red','green','blue'],['apple','guava','blueberry'],[150,100,300]]
print(items)
print("size of list",len(items))
print("size of list at index 0 is",len(items[0]),"=>",items[0])
print("size of list at index 1 is",len(items[1]),"=>",items[1])
print("size of list at index 0 is",len(items[2]),"=>",items[2])
print("elements 0 as list 0 is",items[0][0])
print("elements 2 as list 0 is",items[0][2])
print("elements 0 as list 1 is",items[1][0])
print("elements 1 as list 1 is",items[1][1])

[['red', 'green', 'blue'], ['apple', 'guava', 'blueberry'], [150, 100, 300]]
size of list 3
size of list at index 0 is 3 => ['red', 'green', 'blue']
size of list at index 1 is 3 => ['apple', 'guava', 'blueberry']
size of list at index 0 is 3 => [150, 100, 300]
elements 0 as list 0 is red
elements 2 as list 0 is blue
elements 0 as list 1 is apple
elements 1 as list 1 is guava

In [20]:
matrix=[[12,23,45,25],[85,95,25,15],[30,32,35,5]]
print(matrix)

print("size of list",len(matrix))
print("size of list at index 0 is",len(matrix[0]),"=>",matrix[0])
print("size of list at index 1 is",len(matrix[1]),"=>",matrix[1])
print("size of list at index 0 is",len(matrix[2]),"=>",matrix[2])
print("elements 1 as list 1 is",matrix[1][1])
print("elements 1 as list 0 is",matrix[1][0])
print("elements 1 as list 2 is",matrix[1][2])
print("elements 1 as list 3 is",matrix[1][3])

[[12, 23, 45, 25], [85, 95, 25, 15], [30, 32, 35, 5]]
size of list 3
size of list at index 0 is 4 => [12, 23, 45, 25]
size of list at index 1 is 4 => [85, 95, 25, 15]
size of list at index 0 is 4 => [30, 32, 35, 5]
elements 1 as list 1 is 95
elements 1 as list 0 is 85
elements 1 as list 2 is 25
elements 1 as list 3 is 15

In [21]:
for row in matrix:
    print(row)

[12, 23, 45, 25]
[85, 95, 25, 15]
[30, 32, 35, 5]

In [22]:
#nested loop for nested list
for i in matrix:
    for val in row:
        print(val,end=" ")

30 32 35 5 30 32 35 5 30 32 35 5

In [23]:
#nested loop for nested list
for row in matrix:
    for val in row:
        print(val,end=" ")
    print()

12 23 45 25
85 95 25 15
30 32 35 5

In [24]:
total=0
for row in matrix:
    for val in row:
        total+=val
print(total)

427

In [3]:
total=1#product of matrix
for row in matrix:
    for val in row:
        total*=val
print(total)

157959112500000000

In [4]:
for row in matrix:
    total=0
    for value in row:
        total+=value
    print(row,'=>',total)

[12, 23, 45, 25] => 105
[85, 95, 25, 15] => 220
[30, 32, 35, 5] => 102

In [9]:
for row in matrix:
    total=0
    for value in row:
        total+=value
    average=round(total/len(row),1)
    print(row,'=>',average)

[12, 23, 45, 25] => 26.2
[85, 95, 25, 15] => 55.0
[30, 32, 35, 5] => 25.5

In [10]:
#average of row
for row in matrix:
    total=0
    for value in row:
        total+=value/len(row)
    print(row,'=>',total)

[12, 23, 45, 25] => 26.25
[85, 95, 25, 15] => 55.0
[30, 32, 35, 5] => 25.5

In [11]:
#column wise sum matrix
size=len(matrix[0])
for c in range(size):
    total=0
    for r in range(len(matrix)):
        total=total+matrix[r][c]
    print(f"column {c} => {total}")

column 0 => 127
column 1 => 150
column 2 => 105
column 3 => 45

In [12]:
size=len(matrix[0])
for c in range(size):
    total=0
    for r in range(len(matrix)):
        total+=matrix[r][c]/len(matrix)
    print(total)

42.33333333333333
50.0
35.0
15.0

In [1]:
mat2=[[1,2,3,4],[5,6,7,8],[9,10,11,12],[13,14,15,16]]
for r in range(len(mat2)):
    for c in range(len(mat2[0])):
        if(c <= r):
            print(mat2[r][c],end=" ")
    print()

1
5 6
9 10 11
13 14 15 16

In [3]:
#slicing
x=[11,12,13,15,19]
x[0:3]

[13, 15, 19]

In [4]:
x=[11,12,13,15,19]
x[2:len(x)]

[13, 15, 19]

In [11]:
x=['e','r','t','y','u','o','k','f','j']
x[3:-3]

['y', 'u', 'o']

In [16]:
name="william shakespears"
len(name)

19

In [20]:
name[8:len(name)]

'shakespears'

In [21]:
name[8:-6]

'shake'

In [26]:
name[3:7]
name[-5:-1]

'pear'

In [30]:
name[:7]

'william'

In [31]:
name[8:]

'shakespears'

In [ ]:
#slicing facts
->if starting from 0 index,you can skip it eg:x[:4] also like in lastx[5:]

In [33]:
fname=name[:7]
lname=name[8:]
print(fname)
print(lname)

william
shakespears

In [37]:
name="sri vaishnavi"
name[0:len(name):2]

'sivihai'

In [38]:
name[::2]#even item

'sivihai'

In [39]:
name[1::2]#odd item

'r asnv'

In [3]:
name="vinay deenanath chauhan"
fname=name[:5]
print(fname)

vinay

In [5]:
mname=name[6:16]
lname=name[-7:]
print(mname)
print(lname)

deenanath
chauhan

In [6]:
name[::2]

'vnydeaahcahn'

In [7]:
name[1::2]

'ia ennt hua'

In [8]:
name[::-1]

'nahuahc htananeed yaniv'

In [9]:
x=[1,2,3,4,6,7,9,11,13]#reverse print element
for item in x[::-1]:
    print(item)

13
11
9
7
6
4
3
2
1

In [10]:
a=[1,2,3]
a[:]#display the list as it is

[1, 2, 3]

In [15]:
#rotate list
x=[1,2,3,4,5]
ans=x[2:]+x[:2]
print(x,ans)

[1, 2, 3, 4, 5] [3, 4, 5, 1, 2]

In [16]:

x=[1,3,4,5]
x2=[]
for i in x:
    s=i*2
    x2.append(s)
print(x,x2)

[1, 3, 4, 5] [2, 6, 8, 10]

In [17]:
x=[4,8,12,16]
x3=[]
for i in x:
    x3.append(i//2)
print(x,x3)

[4, 8, 12, 16] [2, 4, 6, 8]

In [18]:
x=[1,2,3]
y=[4,5,6]
xy=[]
for i,j in zip(x,y):#used in loops when u have more than one list
    xy.append(i+j)
print(x,y,xy,sep="\n")

[1, 2, 3]
[4, 5, 6]
[5, 7, 9]

In [19]:
z=[2,3,4]
zsqr=[]
for i in z:
    zsqr.append(i**2)
print(z,zsqr)

[2, 3, 4] [4, 9, 16]

In [20]:
#comprehension can be done in sigle line
y=[1,2,3]
y2=[i*2 for i in y]
print(y,y2)

[1, 2, 3] [2, 4, 6]

In [ ]:
#string
#string is python datatype,in python,to store any kind of textualinformation we use string.there is no other type to store text
#string creation
a='apple'
b="banana"
c='''this is 
     chocolate 
     cake'''

In [3]:
#typecasting
x=str(10)
y=str(["apple,banana"])
print(x,type(x))
print(y,type(y))

10 <class 'str'>
['apple,banana'] <class 'str'>

In [4]:
a="apple"
print(a[0])
a[0]='c'#strings  are immutable(cant change)

NameError: name 'a' is not defined

In [11]:
#slicing and indexing
x='disappointed'
y=x[5:10]
print(f"the {y} is ,i am not {x}")

the point is ,i am not disappointed

In [14]:
poem='''johny johny,yes papa
telling lies,no papa
eating sugar,no papa
open your mouth,hahaha'''
x=poem[0:20]
y=poem[21:42]
print(x)
print(y)

johny johny,yes papa
telling lies,no papa