In [ ]:
#range function defibnes the range/prints sequence of numbers
#range(5)-0 1 2 3 4
#range(10,14)-10 11 12 13

In [1]:
range()

TypeError: range expected at least 1 argument, got 0

In [3]:
for i in range(1,10,2):
    print(i)

1
3
5
7
9

In [4]:
for i in range(1,20,2):
    print(i)

1
3
5
7
9
11
13
15
17
19

In [5]:
for i in range(0,15,5):
    print(i)

0
5
10

In [6]:
for i in range(10,0,-2):
    print(i)

10
8
6
4
2

In [9]:
for i in range(100,201,2):
    print(i,end=",")

100,102,104,106,108,110,112,114,116,118,120,122,124,126,128,130,132,134,136,138,140,142,144,146,148,150,152,154,156,158,160,162,164,166,168,170,172,174,176,178,180,182,184,186,188,190,192,194,196,198,200,

In [10]:
colors=['red','blue','green']
print(colors)

['red', 'blue', 'green']

In [13]:

#formatted output
for color in colors:
    print(color)

NameError: name 'colors' is not defined

In [15]:
colors=['red','blue','green']
print(colors)

['red', 'blue', 'green']

In [16]:
for color in colors:
    print(color)

red
blue
green

In [19]:
movie=['bahubali','the nun','evil dead','it','ambuli','kanchana','ganga','the conjuring','anabella']
print(movie)

['bahubali', 'the nun', 'evil dead', 'it', 'ambuli', 'kanchana', 'ganga', 'the conjuring', 'anabella']

In [20]:
for movies in movie:
    print(movies)

bahubali
the nun
evil dead
it
ambuli
kanchana
ganga
the conjuring
anabella

In [21]:
for i in range(1,100,2):
    print(i,end=",")

1,3,5,7,9,11,13,15,17,19,21,23,25,27,29,31,33,35,37,39,41,43,45,47,49,51,53,55,57,59,61,63,65,67,69,71,73,75,77,79,81,83,85,87,89,91,93,95,97,99,

In [1]:
for i in range(-10,10,3):
    print(i,end=",")

-10,-7,-4,-1,2,5,8,

In [ ]:
#loop with conditions
#syntax
for var in iterable:#here iterable means that will give you data and then starts loop
    if condition:
        statement
    else:
        statement

In [3]:
for i in range(1,11):
    if i%2==0:
        print(i)

2
4
6
8
10

In [5]:
for i in range(1,11):
    if i%2!=0:
        print(i)

1
3
5
7
9

In [6]:
#en numsdisplay squares of even numbers
num=[1,5,11,3,12,15]
for i in num:
    if i%2==0:
        s=i**2
        print(s)
    else:
        print("odd numbers")

odd numbers
odd numbers
odd numbers
odd numbers
144
odd numbers

In [7]:
#display cuber of odd numbers
num=[1,5,11,3,12,15]
for i in num:
    if i%2!=0:
        s=i**3
        print(s)
    else:
        print("even numbers")

1
125
1331
27
even numbers
3375

In [8]:
#calc the area of circles
#whose radius is given in list
radius=[3,5,6,11,10]
for r in radius:
    area=3.14*r**2
    print(f"the area for {r} is {area}")

the area for 3 is 28.26
the area for 5 is 78.5
the area for 6 is 113.04
the area for 11 is 379.94
the area for 10 is 314.0

In [10]:
games=["pubg","dead target","township","gardenscapes","homescapes","templerun","subwaysurfaclee","GTA","stumble guys","amomg us"]
for name in games:
    if name.startswith('t'):
        print(name)

township
templerun

In [11]:
books=["the final empire","warreaker","elantris","the well of ascension","hero of ages","the way of kings"]
for book in books:
    if "the" in book or "of" in book:
        print(f"book->{book}")

book->the final empire
book->the well of ascension
book->hero of ages
book->the way of kings

In [1]:
#aggregation: before loop,seperate var needs to be giventotal to aggregate function
#sum,count,min,max,avg,median
a=[10,11,12,13,14,15,16,17,18,19,20]
b=sum(a)
print(b)

165

In [3]:
total=0
for num in range(10,21):
    total=total+num
print(total)

165

In [5]:
total=1
for num in range(10,21):
    total=total*num
print(total)

6704425728000

In [15]:
nums=[5,11,2,53,10,33]
m=0
for num in nums:
    if num > m:
        m=num
    print(m)

5
11
11
53
53
53

In [14]:
nums=[25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50]
count=0
for num in nums:
    if num%3==0:
        count=count+1
print(f"the totalcount = {count}")

the totalcount = 8

In [1]:
nums=[25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50]
count=0
for num in nums:
    if num%2==0:
        count=count+1
print(f"the totalcount = {count}")

the totalcount = 13

In [5]:
movies=['bahubali','the nun','evil dead','it','ambuli','kanchana','ganga','The conjuring','anabella','it2','f1','manasu mamatha','karthika deepam','tenali ramakrishna']
movies_with_t=0
for movie in movies:
    if movie.startswith("t") or movie.startswith("T"):
        movies_with_t +=1
print("count",movies_with_t)

count 3

In [12]:
#factorial
num=10
fact=1
for i in range(num,0,-1):
    print(f'{i} * {fact}')
    fact=fact*i
    
print(fact)

10 * 1
9 * 10
8 * 90
7 * 720
6 * 5040
5 * 30240
4 * 151200
3 * 604800
2 * 1814400
1 * 3628800
3628800

In [13]:
num=10
fact=1
for i in range(num,0,-1):
    fact=fact*i
print(fact)

3628800

In [16]:
# loops total 10*5=> 50 times
for i in range(1,11): # loops 10 times
    for j in range(1,6): #loops 5 times
        print(f"i = {i}, j = {j}")

i = 1, j = 1
i = 1, j = 2
i = 1, j = 3
i = 1, j = 4
i = 1, j = 5
i = 2, j = 1
i = 2, j = 2
i = 2, j = 3
i = 2, j = 4
i = 2, j = 5
i = 3, j = 1
i = 3, j = 2
i = 3, j = 3
i = 3, j = 4
i = 3, j = 5
i = 4, j = 1
i = 4, j = 2
i = 4, j = 3
i = 4, j = 4
i = 4, j = 5
i = 5, j = 1
i = 5, j = 2
i = 5, j = 3
i = 5, j = 4
i = 5, j = 5
i = 6, j = 1
i = 6, j = 2
i = 6, j = 3
i = 6, j = 4
i = 6, j = 5
i = 7, j = 1
i = 7, j = 2
i = 7, j = 3
i = 7, j = 4
i = 7, j = 5
i = 8, j = 1
i = 8, j = 2
i = 8, j = 3
i = 8, j = 4
i = 8, j = 5
i = 9, j = 1
i = 9, j = 2
i = 9, j = 3
i = 9, j = 4
i = 9, j = 5
i = 10, j = 1
i = 10, j = 2
i = 10, j = 3
i = 10, j = 4
i = 10, j = 5

In [22]:
n=9
for i in range(1,n):
    for j in range(1,n):
        print(i,end=' ')
    print()

1 1 1 1 1 1 1 1
2 2 2 2 2 2 2 2
3 3 3 3 3 3 3 3
4 4 4 4 4 4 4 4
5 5 5 5 5 5 5 5
6 6 6 6 6 6 6 6
7 7 7 7 7 7 7 7
8 8 8 8 8 8 8 8

In [21]:
n=7
for i in range(1,n):
    for j in range(1,n):
        print(j,end=' ')
    print()

1 2 3 4 5 6
1 2 3 4 5 6
1 2 3 4 5 6
1 2 3 4 5 6
1 2 3 4 5 6
1 2 3 4 5 6

In [ ]:
### jum statement
#continue - to skip a step
#break -to stop the loop

In [2]:
for i in range(1,25):
    if i%3==0:
        continue
    print(i,end=" ")

1 2 4 5 7 8 10 11 13 14 16 17 19 20 22 23

In [3]:
data=[1,2,0,3,3,0,1,2,0,5,6,7,2,0,2,1]
for i in data:
    if i ==  0:
        continue
    print(i,end=" ")

1 2 3 3 1 2 5 6 7 2 2 1

In [4]:
for i in range(1,11):
    if i==8:
        break
    print(i,end=" ")

1 2 3 4 5 6 7

In [ ]:
total=0 
for i in range(100):
    print("enter 0 to stop the loop")
    values=int(input("enter a value"))
    if values==0:
        break
    total+=values
print(f"total = {total}")

In [3]:
nums=[2,5,8,11,15]
for n in nums:
    print(n)
print("loop completed")

2
5
8
11
15
lo0p completed

In [5]:
nums=[2,5,8,11,18]
for n in nums:
    if n>10:
        break
    print(n)
print("loop completed")

2
5
8
loop completed

In [8]:
value=int(input("enter breakpoint"))
nums=[1,2,3,4,5,6,11,15,20,25]
for n in nums:
    if value>n:
        print("loop broken")
        break
else:
    print("loop completed")

enter breakpoint4
loop broken

In [14]:
num=int(input("enter an number="))
for n in range(2,num):
        if num%n==0: 
            print(f"{num} not a prime numbers")
            break
else:
    print(f"{num} is a prime number")

enter an number=5
5 is a prime number

In [16]:
# while loop is condition based ,there are two types of loop ->finite and infinite
x=50
while x>0:
    print(x,end=" ")
    x-=5

50 45 40 35 30 25 20 15 10 5