In [5]:
#1. Swapping Variables
a=int(input("enter the value:"))
b=int(input("enter the value:"))
print("\nBefore swapping")
print("a=",a)
print("b=",b)
temp=a
a=b
b=temp
print("\nAfter swapping")
print("a=",a)
print("b=",b)

enter the value:4
enter the value:5

Before swapping
a= 4
b= 5

After swapping
a= 5
b= 4

In [6]:
#2. Simple Calculator (No Conditions)
num1=input("enter the first value:")
operator=input("enter the operator(+,-,*,/):")
num2=input("enter the second value:")

result=eval(num1+operator+num2)
print("result:",result)

enter the first value:4
enter the operator(+,-,*,/):*
enter the second value:6
result: 24

In [7]:
#5. Custom Data Type Formatter
name=str(input("enter the name:"))
age=int(input("enter the age:"))
height=float(input("enter the value:"))
print(f"Name:{name},age:{age}years,height:{height}cm")

enter the name:vaishu
enter the age:21
enter the value:5.5
Name:vaishu,age:21years,height:5.5cm

In [9]:
#4. Quadratic Equation Roots (No Conditions)
a=float(input("enter a:"))
b=float(input("Enter b: "))
c=float(input("Enter c: "))
D=b**2-4*a*c
D=complex(D,0)
sqrt_D=D**0.5
root1=(-b + sqrt_D) / (2*a)
root2=(-b - sqrt_D) / (2*a)
print("Root 1 =", root1)
print("Root 2 =", root2)

enter a:5.5
Enter b: 4.4
Enter c: 3.3
Root 1 = (-0.39999999999999997+0.6633249580710799j)
Root 2 = (-0.40000000000000013-0.6633249580710799j)

In [10]:
#3. Type Conversion
num_str = input("Enter a number: ")
num_int = int(num_str)
num_float = float(num_str)
print(f"Integer value: {num_int}, Type: {type(num_int)}")
print(f"Float value: {num_float}, Type: {type(num_float)}")

Enter a number: 5
Integer value: 5, Type: <class 'int'>
Float value: 5.0, Type: <class 'float'>

In [4]:
#6. Complex Expression Evaluator
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))
num3 = float(input("Enter third number: "))
result = ((num1 + num2) * num3) / (num1 - num2)
print("Result:", round(result, 2))

Enter first number: 3.4
Enter second number: 5.5
Enter third number: 6.4
Result: -27.12

In [11]:
#7. Sum of Two Numbers
num1=int(input("enter first number:"))
num2=int(input("enter second number"))
sum=num1+num2
print("the sum of num1 and num2 is:",sum)

enter first number:4
enter second number5
the sum of num1 and num2 is: 9

In [16]:
#8. Uppercase String
name=str(input("enter the name"))
uppercase=name.upper()
print("uppercase name is",uppercase)

enter the namevaishu
uppercase name is VAISHU

In [12]:
#9. Square of a Number
num=int(input("enter the value "))
square=num**2
print(square)

enter the value 2
4

In [13]:
#11. String Concatenation
str1="sri"
str2="vaishnavi"
concatenation=str1+str2
print(concatenation)

srivaishnavi

In [14]:
#12. Float to Integer Conversion
num_float = float(input("Enter a decimal number: "))
num_int = int(num_float)
print(f"Float value: {num_float}, Type: {type(num_float)}")
print(f"Integer value: {num_int}, Type: {type(num_int)}")

Enter a decimal number: 5.5
Float value: 5.5, Type: <class 'float'>
Integer value: 5, Type: <class 'int'>

In [15]:
#13. Age Display
age=int(input("enter your age "))
print(f"your are {age} years old ")

enter your age 21
your are 21 years old

In [17]:
#14. Product of Two Numbers
num1=int(input("enter first value"))
num2=int(input("enter second value"))
result=num1*num2
print(result)

enter first value4
enter second value4
16

In [20]:
#15. String Length
string="vaishnvai"
result=len(string)
print(result)

9

In [22]:
#16. Average of Three Numbers
num1=int(input("enter first value"))
num2=int(input("enter second value"))
num3=int(input("enter third value"))
average=(num1+num2+num3)/3
print("average:",average)

enter first value2
enter second value2
enter third value2
average: 2.0

In [23]:
#17. Absolute Value
num = int(input("Enter a number: "))
print("Absolute value:", abs(num))

Enter a number: -5
Absolute value: 5

In [24]:
#18. Difference of Two Numbers
num1=int(input("enter first value"))
num2=int(input("enter second value"))
diff=num1-num2
print(f"difference of two numbers is={diff}")

enter first value3
enter second value2
difference of two numbers is=1

In [25]:
#19. String Reversal
string="vaishnavi"
reverse=string[::-1]
print(f"the reversed string is {reverse}")

the reversed string is ivanhsiav

In [28]:
#20. Height Conversion
height_cm = int(input("Enter height in centimeters: "))
height_m = height_cm / 100
print(f"Height in meters:{height_m}")

Enter height in centimeters: 160
Height in meters:1.6

In [30]:
#21. Quotient of Two Numbers
num1=int(input("enter first value"))
num2=int(input("enter second value"))
result=num1/num2
print(result)

enter first value4
enter second value2
2.0

In [31]:
#22. Quoted Name
name=input("enter the name")
print(f'"{name}"')

enter the namevaishu
"vaishu"

In [32]:
#23. Formatted Number
num = float(input("Enter a number: "))
rounded_num = round(num, 2)
print(f"Rounded value:{rounded_num}")

Enter a number: 3.4567
Rounded value:3.46

In [33]:
#24. String Separation
str1=input("enter first string")
str2=input("enter second string")
print(f"{str1} {str2}")

enter first stringsri
enter second stringvaishnavi
sri vaishnavi

In [37]:
#25. Type of Input
num=input("enter any value")
num_int = int(num)
print("As integer type:", type(num_int))

enter any value4
As integer type: <class 'int'>

In [38]:
#26. Sum and Product
num1 = int(input("Enter first number: "))
num2 = int(input("Enter second number: "))
num3 = int(input("Enter third number: "))
sum_result = num1 + num2 + num3
product_result = num1 * num2 * num3
print(f"Sum of three values:{sum_result}")
print(f"Product of three values:{product_result}")

Enter first number: 3
Enter second number: 3
Enter third number: 4
Sum of three values:10
Product of three values:36